<!DOCTYPE HTML>
<html>
<head>
<style>
form {
    text-align: center;
    margin: auto;
}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 10px;
}
</style>
<title>JDF 1356 Demo</title>

</head>
<body>

<h1 style="text-align:center;">Welcome to our demo!</h1>
<h3 style="text-align:center;">Insert an image file using the button below.</h3>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<!--
<form method=post enctype=multipart/form-data>
	<input type=file name=file>
      <input type=submit value=Upload>
	
<label for="test">Select a file:</label>
<input type="file" id="test" name="test" accept="image/*"><br><br>
<button onclick="document.getElementById('test').innerHTML = numObjects()">Submit</button>
	
<input type="submit">
</form>-->

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% if filenames %}
	{% for filename in filenames %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
	{% endfor %}
{% endif %}
<!--<img src="{{ user_image }}" alt="Predictions">-->
<!--
<script type="module" src="algorithm.js"></script>
-->
</body>
</html>
